img{
    width: 220px;
    height: 150px;
}

span:hover{
    cursor: pointer;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}



.button-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    width: 250px;
}

.button-Container button {
    margin-left: 5px;
}
